language: python
sudo: false
env:
  - PYTHON_VERSION=2.7
before_install:
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -f -b -p $PWD/miniconda3
  - export PATH=$PWD/miniconda3/bin:$PATH
  # Update conda itself
  - conda update --yes conda
install:
  # At this moment, this plugin depends on qiita, so install everything in the same environment
  - conda create --yes -n qiita_env python=2.7 pip nose flake8
    pyzmq networkx pyparsing natsort mock future libgfortran
    'pandas>=0.18' 'scipy>0.13.0' 'numpy>=1.7' 'h5py>=2.3.1' matplotlib
  - source activate qiita_env
  - export CONDA_BIN=/home/travis/miniconda3/bin
  - pip install sphinx sphinx-bootstrap-theme coveralls ipython[all]==2.4.1
  # kneaddata dependencies
  - conda install --yes -c bioconda bowtie2 trimmomatic=0.36 fastqc=0.11.5
  - export TRIMMOMATIC_BIN=$(readlink -f $(which trimmomatic))
  - export TRIMMOMATIC_DIR=`dirname $TRIMMOMATIC_BIN`
  - export KD_DEMO_DB=$HOME/miniconda3/envs/qiita_env/lib/python2.7/site-packages/kneaddata/tests/data/demo_bowtie2_db/demo_db
  - pip install https://github.com/biocore/qiita/archive/master.zip --process-dependency-links
  - ipython profile create qiita-general --parallel
  - qiita-env start_cluster qiita-general
  - qiita-env make --no-load-ontologies
  - export QIITA_SERVER_CERT=$PWD/miniconda3/envs/qiita_env/lib/python2.7/site-packages/qiita_core/support_files/server.crt
  - pip install https://github.com/qiita-spots/qiita_client/archive/master.zip
  - pip install .
before_script:
  - export MOI_CONFIG_FP=$PWD/miniconda3/envs/qiita_env/lib/python2.7/site-packages/qiita_core/support_files/config_test.cfg
  - qiita pet webserver start &
  - export QIITA_PID=$!
script:
  - sleep 10 # give enough time to the webserver to start
  - configure_shotgun --env-script "source activate qp-shotgun" --server-cert $QIITA_SERVER_CERT
  - nosetests --with-doctest --with-coverage -e humann2
  - flake8 qp_shotgun setup.py scripts
addons:
  postgresql: "9.3"
services:
  - redis-server
  - postgresql
after_success:
  - coveralls
  - kill $QIITA_PID
  - qiita-env stop_cluster qiita-general
  - qiita-env drop
after_failure:
  - kill $QIITA_PID
  - qiita-env stop_cluster qiita-general
  - qiita-env drop
